<h1>List of Users</h1>
<app-spinner [visible]="isLoading"></app-spinner>
<div *ngIf="!isLoading">
  <a routerLink="/users/new" class="btn btn-primary">Add User</a>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>
          <a [routerLink]="['/users', user.id]">
            <i class="glyphicon glyphicon-edit"></i>
          </a>
        </td>
        <td>
          <a (click)="deleteUser(user)">
            <i class="glyphicon glyphicon-remove"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>